
<mat-card class="clarity-overlay-bg">

  <h3 mat-dialog-title>{{plugData.name}}</h3>
  <div mat-dialog-content>

    <span mat-list-icon class="list-icon"
      *ngIf="plugData.icon"
      [style.background-image]="plugData.icon">
    </span>

      <div class="simple-caption-darker add-wrap">{{plugData.desc}}</div>

      <ng-container *ngIf="plugData.clarityDesc">
          <div class="flex-row">
            <h5 class="community-header">Community Insights</h5>
            <p class="simple-caption-darker add-wrap">{{plugData.clarityDesc}}</p>
            <!--
              <div class="flex-column" *ngIf="data.title as i">
                <div *ngFor="let r of i.values">
                    <img *ngIf="r.icon" [src]="'//www.bungie.net' + r.icon" class="reward-icon"
                        loading="lazy">
                    <span class="pad-left">
                        <ng-container *ngIf="r.quantity>0">{{r.quantity}} </ng-container>{{r.name}}
                    </span>
                </div>
              </div>
            -->
          </div>
      </ng-container>
  </div>

</mat-card>
